<h1>London 2012 Sweepstake</h1>
<h2>Country Leaderboard</h2>
<%= link_to 'Switch to People leaderboards', leaderboards_people_url %>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Points</th>
      <th>Factor</th>
      <th><strong>Total Points</strong></th>
    <tr>
  </thead>
  <tbody>
    <!-- render country template -->
  </tbody>
</table>