<h1>London 2012 Sweepstake</h1>
<h2>People Leaderboard</h2>
<%= link_to 'Switch to Country leaderboards', leaderboards_countries_url %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
    <tr>
  </thead>
  <tbody>
    <!-- render person template -->
  </tbody>
</table>